.doodle.wireframe-textured-rendering .controls
{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 180px;
}

.doodle.wireframe-textured-rendering .selector.two-state
{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid black;
}

.doodle.wireframe-textured-rendering .selector.two-state + .selector.two-state
{
    margin-top: 10px;
}

.doodle.wireframe-textured-rendering .slider-box
{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 34px;
}

.doodle.wireframe-textured-rendering .slider-box input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.doodle.wireframe-textured-rendering .slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 34px;
}

.doodle.wireframe-textured-rendering .controls.frozen .slider
{
    cursor: not-allowed;
}
  
.doodle.wireframe-textured-rendering .slider:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    transition: 0.1s linear;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.doodle.wireframe-textured-rendering .slider-box input:checked + .slider:before
{
    transform: translateX(37px);
}

.luujanko-rendering
{
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.rngon-rendering
{
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.rngon-pixelated-upscale
{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: optimize-contrast;
}
