:root
{
    --header-height: 59px;
    --side-panel-width: 290px;
    --topics-width: 47%;
    --content-margin: 20px;
    --header-bottom-margin: 23px;
    --topic-bottom-margin: 25px;
    --topics-container-top-margin: calc(35px - var(--header-bottom-margin));
    --topics-container-vertical-margin: calc(5px + var(--content-margin));
    --embedded-element-border-radius: 8px;
    --navibar-item-padding: 9px 10px;
    --document-bottom-margin: calc(2 * var(--topic-bottom-margin));
    --link-color: #2264e8;

    /* Margins on the left and right of the page outside of which no content
     * is allowed.*/
    --page-vertical-margin: calc(50% - var(--topics-width)/2 - var(--side-panel-width) - var(--content-margin));

    /* Light theme.*/
    --page-link-color: #2264e8;
    --page-primary-bg-color: white;
    --page-secondary-bg-color: #fdfdfd;
    --page-inert-bg-color: #f6f6f6;
    --page-primary-fg-color: black;
    --page-secondary-fg-color: gray;
    --page-inert-fg-color: lightgray;
    --page-primary-line-color: lightgray;
    --page-secondary-line-color: lightgray;
    --dokki-embedded-header-bg-color: #f6f6f6;
    --dokki-embedded-footer-bg-color: var(--document-bg-color);

    /* Dark theme.
    --page-link-color: #ffe210;
    --page-primary-bg-color: #202020;
    --page-secondary-bg-color: #282828;
    --page-inert-bg-color: #363636;
    --page-primary-fg-color: #e6e6e6;
    --page-secondary-fg-color: #999999;
    --page-inert-fg-color: gray;
    --page-primary-line-color: #4c4c4c;
    --page-secondary-line-color: black;
    --dokki-embedded-header-bg-color: var(--page-primary-line-color);
    --dokki-embedded-footer-bg-color: var(--document-bg-color);*/
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    background-color: var(--page-inert-bg-color);
    color: var(--page-primary-fg-color);
    padding: 0;
    margin: 0;
}

.dokki0-hidden
{
    display: none !important;
}

[data-v-app] > [while-dokki-initializing]
{
    display: none;
}

.dokki-tag
{
    margin-top: var(--document-bottom-margin);
    font-size: 90%;
    color: gray;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    text-align: center;
    background-image: linear-gradient( #f2f2f2, white);
    padding: 10px;
}

.dokki-header,
[while-dokki-initializing]
{
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--page-secondary-line-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--page-inert-bg-color);
    padding-left: var(--page-vertical-margin);
    padding-right: var(--page-vertical-margin);
    text-align: left;
    font-weight: normal;
    font-size: 150%;
    height: var(--header-height);
    position: fixed;
    width: 100%;
}

[while-dokki-initializing]
{
    font-size: unset;
    font-weight: normal;
    color: gray;
}

.dokki0-product-tag
{
    align-items: center;
    margin: 0;
    padding: var(--navibar-item-padding);
    background-color: var(--page-inert-bg-color);
    text-align: left;
    border-bottom: 1px solid var(--page-secondary-line-color);
    position: sticky;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dokki0-product-tag > i
{
    color: var(--page-secondary-fg-color);
}

.dokki-side-panel
{
    box-sizing: border-box;
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: var(--page-vertical-margin);
    background-color: var(--page-secondary-bg-color);
    width: var(--side-panel-width);
    text-align: left;
    overflow-y: auto;
    height: calc(100% - var(--header-height));
    padding-bottom: calc(2 * var(--content-margin));
    border-left: 1px solid var(--page-secondary-line-color);
    border-right: 1px solid var(--page-secondary-line-color);
}

.dokki-side-panel ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dokki-side-panel li
{
    padding: 0;
}

.dokki0-vertical-navi .dokki0-navi-link-icon
{
    color: var(--page-inert-fg-color);
}

.dokki0-vertical-navi .dokki0-navi-link:hover .dokki0-navi-link-icon
{
    color: var(--page-link-color);
}

.dokki0-vertical-navi .dokki0-navi-link
{
    display: block;
    padding: var(--navibar-item-padding);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dokki0-vertical-navi .dokki0-navi-link.subtopic
{
    padding-left: 30px;
}

.dokki0-vertical-navi .dokki0-navi-link:hover
{
    background-color: var(--page-inert-bg-color);
    text-decoration: none;
}

.dokki-topics
{
    padding: var(--content-margin);
    padding-top: calc(var(--header-height) + var(--header-bottom-margin) - 1px);
    padding-left: var(--topics-container-vertical-margin);
    padding-right: var(--topics-container-vertical-margin);
    padding-bottom: var(--document-bottom-margin);
    width: var(--topics-width);
    background-color: var(--page-primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    left: calc(var(--page-vertical-margin) + var(--side-panel-width));
    top: 0;
    z-index: 1;
    border-right: 1px solid var(--page-secondary-line-color);
}

.dokki-topic
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-bottom: var(--topic-bottom-margin);
    width: 100%;
}

.dokki-topic p
{
    line-height: 1.5;
}

.dokki-topic p a,
.dokki-topic p a:visited
{
    color: var(--page-link-color);
}

.dokki-topic:last-of-type,
.dokki-topic > *:last-child
{
    margin-bottom: 0;
}

.dokki-topic li
{
    margin-top: 10px;
}

.dokki-topic h1,
.dokki-topic h2,
.dokki-topic h3,
.dokki-topic h4,
.dokki-side-panel h2
{
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.dokki-topic h1
{
    font-size: 150%;
    font-weight: bold;
}

.dokki-topic h2
{
    font-size: 125%;
}

.dokki-topic h3
{
    font-size: 100%;
    display: inline;
    font-weight: bold;
}

.dokki-topic h4
{
    font-size: 100%;
    display: inline;
    font-weight: normal;
    font-style: italic;
}

.dokki-anchor
{
    visibility: hidden;
    position: relative;
    top: calc(var(--header-height) * -1 - var(--content-margin) + var(--topics-container-top-margin) + 1px);
}

.dokki-anchor:first-child
{
    margin-top: calc(var(--content-margin) - var(--header-bottom-margin) - var(--topics-container-top-margin));
}

.dokki-text-block-with-line-numbers
{
    font-family: monospace;
    white-space: pre;
}

.dokki-text-block-with-line-numbers .line-number
{
    color: var(--page-secondary-fg-color);
    user-select: none;
}

.dokki-checker-background
{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(-45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%),
                      linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.dokki-embedded.casts-shadow
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.dokki-embedded
{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--page-primary-line-color);
    border-radius: var(--embedded-element-border-radius);
    overflow: hidden;
}

.dokki-embedded > header
{
    font-weight: normal;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--dokki-embedded-header-bg-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dokki-embedded > header.clickable
{
    cursor: pointer;
    user-select: none;
}

.dokki-embedded > header > .title > .fas,
.dokki-embedded > header > .title > .far,
.dokki-embedded > header > .title > .fab
{
    margin-right: 2px;
}

.dokki-embedded > footer
{
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--dokki-embedded-footer-bg-color);
}

.dokki-embedded > footer.italic
{
    font-style: italic;
}

.dokki-embedded > footer.italic > i
{
    font-style: normal;
}

.dokki-embedded > footer > *:only-child
{
    margin-top: 0;
    margin-bottom: 0;
}

.dokki-embedded > header > .revealer
{
    margin-left: 10px;
    color: var(--page-link-color);
    display: inline-block;
    margin-left: auto;
    font-variant: small-caps;
    text-transform: lowercase;
    white-space: nowrap;
}

.dokki-embedded > hr
{
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid var(--page-primary-line-color);
    width: 100%;
}

.dokki-embedded > hr + hr
{
    display: none;
}

.dokki-embedded.dokki-iframe > footer
{
    padding: 0;
}

.dokki-embedded.dokki-iframe > footer > iframe
{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: none;
}

.dokki-embedded.dokki-table > header .title::after
{
    content: " Table";
}

.dokki-embedded.dokki-table > .table-container
{
    overflow: auto;
    border-top: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table
{
    width: 100%;
    border-spacing: 0;
    border-bottom: none;
    padding: 0;
    border-collapse: collapse;
}

.dokki-embedded.dokki-table > .table-container table td,
.dokki-embedded.dokki-table > .table-container table th
{
    padding: 8px;
    border: none;
    white-space: nowrap;
}

.dokki-embedded.dokki-table > .table-container table tr
{
    border-top: 1px solid var(--page-primary-line-color);
    border-bottom: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table tr:first-child
{
    border-top: none;
}

.dokki-embedded.dokki-table > .table-container table tr:last-child
{
    border-bottom: none;
}

.dokki-embedded.dokki-table > .table-container table th
{
    background-color: var(--dokki-embedded-header-bg-color);
    font-weight: normal;
}

.dokki-embedded.dokki-table > .table-container table td:not(:last-child),
.dokki-embedded.dokki-table > .table-container table th:not(:last-child)
{
    border-right: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table td:last-child,
.dokki-embedded.dokki-table > .table-container table th:last-child
{
    width: 100%;
}

.dokki-embedded.dokki-video
{
    display: flex;
    flex-direction: column;
}

.dokki-embedded.dokki-video.youtube > iframe
{
    min-width: 100%;
    max-width: 100%;
    height: 450px;
    border: none;
}

.dokki-embedded.dokki-video > header .title::after
{
    content: " Video";
}

.dokki-embedded.dokki-console > header
{
    display: flex;
    align-items: center;
}

.dokki-embedded.dokki-console > header .title
{
    margin-right: 7px;
}

.dokki-embedded.dokki-console > header .command
{
    font-family: monospace;
}

.dokki-embedded.dokki-console > footer
{
    padding-left: 10px;
}

.dokki-embedded.dokki-tip > header .title::after
{
    content: " Tip";
}

.dokki-embedded.dokki-warning > header .title::after
{
    content: " Warning";
}

.dokki-embedded.dokki-code.has-output + .dokki-embedded.dokki-output
{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dokki-embedded.dokki-output > footer
{
    padding: 14px;
}

.dokki-embedded.dokki-output > footer > *:first-child
{
    margin-top: 0;
}

.dokki-embedded.dokki-output > footer > *:last-child
{
    margin-bottom: 0;
}

.dokki-embedded.dokki-code.has-output
{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.dokki-embedded.dokki-code > footer
{
    font-size: 110%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    overflow: auto;
}

.dokki-embedded.dokki-code > footer table
{
    font-family: monospace;
    white-space: pre;
}

.dokki-embedded.dokki-code > footer table .line-number
{
    color: var(--page-secondary-fg-color);
    user-select: none;
}

.dokki-embedded.dokki-image
{
    display: flex;
    flex-direction: column;
}

.dokki-embedded.dokki-image > img
{
    min-height: 20px;
    min-width: 100%;
    max-width: 100%;
}

.dokki-embedded.dokki-image > header .title::after
{
    content: " Image";
}

@media only screen and (max-width: 1600px)
{
    :root
    {
        --page-vertical-margin: 60px;
    }

    .dokki-topics
    {
        width: calc(80% - var(--side-panel-width) - var(--page-vertical-margin) - var(--content-margin) * 2);
    }
}

@media only screen and (max-width: 1300px)
{
    :root
    {
        --side-panel-width: 260px;
        --page-vertical-margin: 0px;
        --topics-container-vertical-margin: var(--content-margin);
    }

    .dokki-side-panel
    {
        border-left: none;
    }

    .dokki-topics
    {
        border-right: none;
        width: calc(100% - var(--side-panel-width) - var(--page-vertical-margin) - var(--content-margin) * 2);
    }
}

@media only screen and (max-width: 900px)
{
    :root
    {
        --side-panel-width: 240px;
    }
}

@media only screen and (max-width: 800px)
{
    :root
    {
        --side-panel-width: 0;
    }

    .dokki-header
    {
        position: absolute;
    }

    .dokki-side-panel
    {
        display: none;
    }

    .dokki-topic
    {
        padding-left: 0;
        padding-right: 0;
    }

    .dokki-topics
    {
        left: var(--page-vertical-margin);
    }
}

@media only screen and (max-width: 600px)
{
    :root
    {
        --header-height: 80px;
        --header-bottom-margin: 25px;
    }
}
