.contact-form
{
    position: relative;
    z-index: 9999;
    color: black;
}

.fade-enter-active,
.fade-leave-active
{
    transition: opacity 0.6s ease-out,
                transform 0.6s ease-out;
}

.fade-leave-active
{
    transition: opacity 0.6s ease-in,
                transform 0.6s ease-in;
}

.fade-enter
{
    opacity: 0;
    transform: translateY(400px);
}

.fade-leave-to
{
    opacity: 0;
    transform: translateY(400px);
}

.contact-form .tarp
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-form .contact-button
{
    background-color: white;
    text-align: right;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid lightgray;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.contact-form .contact-button.expanded .fas
{
    margin-left: 7px;
}

.contact-form .contact-form-body
{
    position: fixed;
    top: 50px;
    left: 50%;
    width: 600px;
    height: auto;
    border-radius: 3px;
    background-color: white;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.contact-form-body .meat
{
    padding: 32px;
    padding-bottom: 0;
}

.contact-form-body > header
{
    background-color: #0072ff;
    color: white;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.contact-form-body > header:active
{
    cursor: grabbing;
}

.contact-form-body footer
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 32px;
}

.contact-form-body footer .buttons
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.contact-form-body footer .buttons * + *
{
    margin-left: 15px;
}

.contact-form-body footer .notification
{
    font-style: italic;
    margin-right: auto;
}

.contact-form-body footer .notification.failure
{
    color: tomato;
    font-weight: bold;
}

.contact-form-body .meat > input
{
    box-sizing: border-box;
}

.contact-form-body .meat > input:read-only,
.contact-form-body .meat > textarea:read-only
{
    outline: none;
    color: gray;
}

.contact-form-body .meat > label
{
    display: block;
    text-align: left;
    margin: 9px 0;
    font-size: 90%;
    color: gray;
}

.contact-form-body .meat > input,
.contact-form-body .meat > select,
.contact-form-body .meat > textarea
{
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 12px;
    border: 1px solid lightgray;
    font-family: inherit;
    font-size: inherit;
}

.contact-form-body .meat > *:first-child
{
    margin-top: 0;
}

.contact-form-body .meat > *:last-child
{
    margin-bottom: 0;
}

.contact-form-body .meat > input::placeholder,
.contact-form-body .meat > select::placeholder,
.contact-form-body .meat > textarea::placeholder
{
    color: rgb(197, 197, 197);
}

.contact-form-body .meat > input:read-only::placeholder,
.contact-form-body .meat > select:read-only::placeholder,
.contact-form-body .meat > textarea:read-only::placeholder
{
    color: lightgray;
}

.contact-form-body .meat > input:not(:read-only):focus,
.contact-form-body .meat > select:not(:read-only):focus,
.contact-form-body .meat > textarea:not(:read-only):focus
{
    border: 1px solid #0072ff;
    outline: none;
}

.contact-form-body .meat > select
{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.contact-form-body .meat > textarea
{
    resize: vertical;
    max-height: 50vh;
    min-height: 9em;
    box-sizing: border-box;
}

.contact-form-body button
{
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 90%;
    cursor: pointer;
    outline: none;
}

.contact-form-body button:disabled
{
    cursor: auto;
}

.contact-form-body button.submit-ok
{
    /* Sending feedback is disabled for now.*/
    display: none;

    padding: 11px;
    border-radius: 3px;
    color: white;
    background-color: #0072ff;
}

.contact-form-body button.submit-ok:disabled
{
    background-color: gray;
    color: whitesmoke;
}

.contact-form-body button.submit-cancel
{
    font-variant: small-caps;
    text-transform: lowercase;
    color: gray;
    font-size: 120%;
}

.contact-form-body button.submit-ok:not(:disabled):hover
{
    background-color: #006aeb;
}

.contact-form-body button.submit-ok:not(:disabled):active
{
    transform: translateX(1px) translateY(1px);
}

.contact-form-body button.submit-cancel:hover
{
    color: inherit;
}
