:root
{
    --header-height: 59px;
    --header-bottom-margin: 23px;

    --side-panel-width: 290px;
    --topics-container-width: 49%;
    --document-width: calc(var(--side-panel-width) + var(--topics-container-width));

    --document-horizontal-left-start: calc(50% - 0.5*var(--topics-container-width) - var(--side-panel-width));
    --document-horizontal-left-end: calc(var(--document-horizontal-left-start) + var(--document-width));

    --topic-bottom-margin: 25px;
    --topic-horizontal-padding: 25px;

    --topics-container-vertical-top-start: calc(35px - var(--header-bottom-margin));
    --topics-container-bottom-margin: calc(2 * var(--topic-bottom-margin));

    --topic-anchor-top-margin: 15px;
    --subtopic-anchor-top-margin: 30px;
    --listing-line-anchor-top-margin: 20vh;

    --embedded-border-radius: 8px;
    --navibar-item-padding: 8px 10px;
}

a,
a.dokki0-unstyled
{
    text-decoration: none !important;
    color: inherit !important;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    background-color: var(--page-inert-bg-color);
    color: var(--page-primary-fg-color);
    padding: 0;
    margin: 0;
}

body,
body[data-dokki-theme="light"],
body[data-dokki-theme="integration-test"]
{
    --page-link-color: #2264e8;
    --page-primary-bg-color: white;
    --page-secondary-bg-color: #fdfdfd;
    --page-inert-bg-color: #f6f6f6;
    --page-primary-fg-color: black;
    --page-secondary-fg-color: gray;
    --page-inert-fg-color: lightgray;
    --page-primary-line-color: lightgray;
    --page-secondary-line-color: lightgray;
    --dokki-embedded-header-bg-color: #f6f6f6;
    --dokki-embedded-footer-bg-color: var(--document-bg-color);
}

body[data-dokki-theme="dark"]
{
    --page-link-color: #ffe210;
    --page-primary-bg-color: #191919;
    --page-secondary-bg-color: #1d1d1d;
    --page-inert-bg-color: #272727;
    --page-primary-fg-color: #e4e4e4;
    --page-secondary-fg-color: #999999;
    --page-inert-fg-color: gray;
    --page-primary-line-color: #3d3d3d;
    --page-secondary-line-color: black;
    --dokki-embedded-header-bg-color: var(--page-primary-line-color);
    --dokki-embedded-footer-bg-color: var(--document-bg-color);
}

body[data-dokki-theme="integration-test"]
{
    --page-secondary-bg-color:var(--page-primary-bg-color);
    --page-inert-bg-color:var(--page-primary-bg-color);
}

.dokki0-hidden
{
    display: none !important;
}

[data-v-app] > [while-dokki-initializing]
{
    display: none;
}

.dokki-theme-selector
{
    margin-left: auto;
    font-size: initial;
    cursor: pointer;
    color: var(--page-inert-fg-color);
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 9px 15px;
    border-radius: 100px;
    border: 1px solid var(--page-primary-line-color);
}

.dokki-theme-selector:hover > i
{
    color: var(--page-primary-fg-color);
}

.dokki-tag
{
    margin-top: var(--topics-container-bottom-margin);
    font-size: 90%;
    color: gray;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    text-align: center;
    background-image: linear-gradient( #f2f2f2, white);
    padding: 10px;
}

.dokki-header,
[while-dokki-initializing]
{
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--page-secondary-line-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--page-inert-bg-color);
    text-align: left;
    font-weight: normal;
    font-size: 150%;
    height: var(--header-height);
    position: fixed;
    width: 100%;
}

[while-dokki-initializing]
{
    padding-left: var(--document-horizontal-left-start);
    margin-left: 10px;
    font-size: initial;
    font-weight: normal;
    color: gray;
}

.dokki0-header-container
{
    display: flex;
    align-items: center;
    width: var(--document-width);
    position: relative;
    left: var(--document-horizontal-left-start);
}

.dokki0-header-container > * + *
{
    margin-left: 10px;
}

.dokki0-header-title
{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dokki0-header-title > i
{
    margin-right: 4px;
}

.dokki0-product-tag
{
    align-items: center;
    margin: 0;
    padding: var(--navibar-item-padding);
    background-color: var(--page-inert-bg-color);
    text-align: left;
    border-bottom: 1px solid var(--page-secondary-line-color);
    position: sticky;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dokki0-product-tag > i
{
    color: var(--page-secondary-fg-color);
}

.dokki-side-panel
{
    box-sizing: border-box;
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: var(--document-horizontal-left-start);
    background-color: var(--page-secondary-bg-color);
    width: var(--side-panel-width);
    text-align: left;
    overflow-y: auto;
    height: calc(100% - var(--header-height));
    border-left: 1px solid var(--page-secondary-line-color);
    border-right: 1px solid var(--page-secondary-line-color);
}

.dokki-side-panel ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dokki-side-panel li
{
    padding: 0;
}

.dokki0-vertical-navi .dokki0-navi-link-icon
{
    color: var(--page-inert-fg-color);
}

.dokki0-vertical-navi .dokki0-navi-link:hover .dokki0-navi-link-icon
{
    color: var(--page-link-color);
}

.dokki0-vertical-navi .dokki0-navi-link
{
    display: block;
    padding: var(--navibar-item-padding);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dokki0-vertical-navi .dokki0-navi-link.subtopic
{
    padding-left: 30px;
}

.dokki0-vertical-navi .dokki0-navi-link:hover
{
    background-color: var(--page-inert-bg-color);
    text-decoration: none;
}

.dokki-topics
{
    padding-top: calc(var(--header-height) + var(--header-bottom-margin) - 1px);
    padding-left: var(--topic-horizontal-padding);
    padding-right: var(--topic-horizontal-padding);
    padding-bottom: var(--topics-container-bottom-margin);
    width: var(--topics-container-width);
    background-color: var(--page-primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    left: calc(var(--document-horizontal-left-start) + var(--side-panel-width));
    top: 0;
    z-index: 1;
    border-right: 1px solid var(--page-secondary-line-color);
    box-sizing: border-box;
}

.dokki-topic
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-bottom: var(--topic-bottom-margin);
    width: 100%;
}

.dokki-topic p
{
    line-height: 1.5;
}

.dokki-topic p a,
.dokki-topic p a:visited
{
    color: var(--page-link-color);
}

.dokki-topic:last-of-type,
.dokki-topic > *:last-child
{
    margin-bottom: 0;
}

.dokki-topic li
{
    margin-top: 10px;
}

.dokki-topic h1,
.dokki-topic h2,
.dokki-topic h3,
.dokki-topic h4,
.dokki-side-panel h2
{
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.dokki-topic h1
{
    font-size: 150%;
    font-weight: bold;
}

.dokki-topic h2
{
    font-size: 125%;
}

.dokki-topic h3
{
    font-size: 100%;
    display: inline;
    font-weight: bold;
}

.dokki-topic h4
{
    font-size: 100%;
    display: inline;
    font-weight: normal;
    font-style: italic;
}

.dokki-anchor
{
    visibility: hidden;
    position: relative;
    top: calc(-1*var(--header-height) - var(--topic-anchor-top-margin) + var(--topics-container-vertical-top-start) + 1px);
}

.dokki-anchor.subtopic
{
    top: calc(-1*var(--header-height) - var(--subtopic-anchor-top-margin) + var(--topics-container-vertical-top-start) + 1px);
}

.dokki-anchor.listing-line
{
    top: calc(-1*var(--header-height) - var(--listing-line-anchor-top-margin) + var(--topics-container-vertical-top-start) + 1px);
}

.dokki-anchor:first-child
{
    margin-top: calc(var(--topic-anchor-top-margin) - var(--header-bottom-margin) - var(--topics-container-vertical-top-start));
}

.dokki-text-block-with-line-numbers
{
    width: 100%;
    font-family: monospace;
    white-space: pre;
    border-collapse: collapse;
}

.dokki-text-block-with-line-numbers .line-number
{
    color: var(--page-inert-fg-color);
    user-select: none;
    width: 0; /* Shrink to minimum required width.*/
    padding: 0;
    cursor: pointer;
}

.dokki-text-block-with-line-numbers tr:hover .line-number
{
    color: var(--page-primary-fg-color);
}

.dokki-text-block-with-line-numbers tr.highlighted .line-number
{
    color: var(--page-primary-fg-color);
}

.dokki-text-block-with-line-numbers tr.highlighted
{
    background-color: var(--page-inert-bg-color);
    font-weight: bold;
}

.dokki-checker-background
{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(-45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%),
                      linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.dokki-area
{
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    background-color: var(--page-inert-bg-color);
    border-left: 5px solid var(--page-inert-fg-color);
}

.dokki-embedded.casts-shadow
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dokki-embedded
{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--page-primary-line-color);
    border-radius: var(--embedded-border-radius);
    overflow: hidden;
}

.dokki-embedded > header
{
    font-weight: normal;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--dokki-embedded-header-bg-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dokki-embedded > header.clickable
{
    cursor: pointer;
    user-select: none;
}

.dokki-embedded > header > .title > .fas,
.dokki-embedded > header > .title > .far,
.dokki-embedded > header > .title > .fab
{
    margin-right: 2px;
}

.dokki-embedded > footer
{
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--dokki-embedded-footer-bg-color);
}

.dokki-embedded > footer.italic
{
    font-style: italic;
}

.dokki-embedded > footer.italic > i
{
    font-style: normal;
}

.dokki-embedded > footer > *:only-child,
.dokki-area > *:only-child
{
    margin-top: 0;
    margin-bottom: 0;
}

.dokki-embedded > header > .revealer
{
    margin-left: 10px;
    color: var(--page-link-color);
    display: inline-block;
    margin-left: auto;
    font-variant: small-caps;
    text-transform: lowercase;
    white-space: nowrap;
}

.dokki-embedded > hr
{
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid var(--page-primary-line-color);
    width: 100%;
}

.dokki-embedded > hr + hr
{
    display: none;
}

.dokki-embedded.dokki-iframe > footer
{
    padding: 0;
}

.dokki-embedded.dokki-iframe > footer > iframe
{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: none;
}

.dokki-embedded.dokki-table > header .title::after
{
    content: " Table";
}

.dokki-embedded.dokki-table > .table-container
{
    overflow: auto;
    border-top: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table
{
    width: 100%;
    border-spacing: 0;
    border-bottom: none;
    padding: 0;
    border-collapse: collapse;
}

.dokki-embedded.dokki-table > .table-container table td,
.dokki-embedded.dokki-table > .table-container table th
{
    padding: 8px;
    border: none;
    white-space: nowrap;
}

.dokki-embedded.dokki-table > .table-container table tr
{
    border-top: 1px solid var(--page-primary-line-color);
    border-bottom: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table tr:first-child
{
    border-top: none;
}

.dokki-embedded.dokki-table > .table-container table tr:last-child
{
    border-bottom: none;
}

.dokki-embedded.dokki-table > .table-container table th
{
    background-color: var(--dokki-embedded-header-bg-color);
    font-weight: normal;
}

.dokki-embedded.dokki-table > .table-container table td:not(:last-child),
.dokki-embedded.dokki-table > .table-container table th:not(:last-child)
{
    border-right: 1px solid var(--page-primary-line-color);
}

.dokki-embedded.dokki-table > .table-container table td:last-child,
.dokki-embedded.dokki-table > .table-container table th:last-child
{
    width: 100%;
}

.dokki-embedded.dokki-video
{
    display: flex;
    flex-direction: column;
}

.dokki-embedded.dokki-video.youtube > iframe
{
    min-width: 100%;
    max-width: 100%;
    height: 450px;
    border: none;
}

.dokki-embedded.dokki-video > header .title::after
{
    content: " Video";
}

.dokki-embedded.dokki-console > header
{
    display: flex;
    align-items: center;
}

.dokki-embedded.dokki-console > footer
{
    padding: 14px;
}

.dokki-embedded.dokki-console > header .title
{
    margin-right: 7px;
}

.dokki-embedded.dokki-console > header .command
{
    font-family: monospace;
}

.dokki-embedded.dokki-tip > header .title::after
{
    content: " Tip";
}

.dokki-embedded.dokki-warning > header .title::after
{
    content: " Warning";
}

.dokki-embedded.dokki-code.has-output + .dokki-embedded.dokki-output
{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dokki-embedded.dokki-output > footer
{
    padding: 14px;
}

.dokki-embedded.dokki-output > footer > *:first-child
{
    margin-top: 0;
}

.dokki-embedded.dokki-output > footer > *:last-child
{
    margin-bottom: 0;
}

.dokki-embedded.dokki-code.has-output
{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.dokki-embedded.dokki-code > footer
{
    font-size: 110%;
    overflow: auto;
    padding: 14px;
}

.dokki-embedded.dokki-code > footer table
{
    font-family: monospace;
    white-space: pre;
}

.dokki-embedded.dokki-image
{
    display: flex;
    flex-direction: column;
}

.dokki-embedded.dokki-image > img
{
    min-height: 20px;
    min-width: 100%;
    max-width: 100%;
}

.dokki-embedded.dokki-image > header .title::after
{
    content: " Image";
}

@media only screen and (max-width: 1700px)
{
    :root
    {
        --document-horizontal-left-start: 60px;
        --topics-container-width: calc(85% - var(--document-horizontal-left-start) - var(--side-panel-width));
    }
}

@media only screen and (max-width: 1400px)
{
    :root
    {
        --topics-container-width: calc(100% - var(--document-horizontal-left-start)*2 - var(--side-panel-width));
    }
}

@media only screen and (max-width: 1200px)
{
    :root
    {
        --side-panel-width: 260px;
        --document-horizontal-left-start: 0px;
        --topic-horizontal-padding: 20px;
        --topics-container-width: calc(100% - var(--side-panel-width));
    }

    .dokki-side-panel
    {
        border-left: none;
    }

    .dokki-topics
    {
        border-right: none;
    }

    .dokki0-header-container
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 900px)
{
    :root
    {
        --side-panel-width: 240px;
    }
}

@media only screen and (max-width: 800px)
{
    :root
    {
        --side-panel-width: 0;
        --document-width: 100%;
        --topic-horizontal-padding: 12px;
    }

    .dokki-side-panel
    {
        display: none;
    }

    .dokki-topic
    {
        padding-left: 0;
        padding-right: 0;
    }

    .dokki-topics
    {
        left: var(--document-horizontal-left-start);
    }

    .dokki-header
    {
        position: absolute;
    }
}

@media only screen and (max-width: 500px)
{
    :root
    {
        --topic-horizontal-padding: 15px;
    }

    .dokki-theme-selector
    {
        display: none;
    }
}
