@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
:root
{
--section-vertical-margin: 1.25rem;
--article-horizontal-padding: 30px;
--article-vertical-padding: 30px;
--content-spacing: 2rem;
--header-height: 3.5rem;
--article-width: 60%;
--article-max-width: 1500px;
--monospace-font: "Inconsolata";
}
html[data-theme="light"]
{
--document-background-color: white;
--article-background-color: var(--document-background-color);
--element-border-color: #e0e0e0;
--link-color: #0c64ee;
--secondary-background-color: #f3f3f3;
--text-color: rgba(30, 30, 30);
--inactive-text-color: #717171;
--heading-text-color: rgba(20, 20, 20);
--code-background-color: white;
--code-text-color: var(--text-color);
--code-comment-text-color: #3e8220;
}
html[data-theme="dark"]
{
--document-background-color: #1b1b1b;
--article-background-color: var(--document-background-color);
--element-border-color: black;
--link-color: #f2ac2d;
--secondary-background-color: #282828;
--text-color: #aaaaaa;
--inactive-text-color: #6a6a6a;
--heading-text-color: #c8c8c8;
--code-background-color: #1d1d1d;
--code-text-color: var(--text-color);
--code-comment-text-color: #00aeae;
}
body
{
font-family: Roboto, sans-serif;
margin: 0;
padding: 0;
background-color: var(--document-background-color);
color: var(--text-color);
margin-bottom: var(--content-spacing);
}
p,
.interjection
{
line-height: 1.4em;
}
main
{
width: 100%;
overflow: auto;
}
main a,
main a:visited
{
font-weight: 500;
color: var(--link-color);
text-decoration: none;
}
main a:not([href]),
main a:not([href]):visited
{
color: inherit;
text-decoration: none;
font-weight: inherit;
}
main a:hover,
main a:visited:hover
{
text-decoration: underline;
}
main a:not([href]):hover,
main a:not([href]):visited:hover
{
text-decoration: none;
}
main > article
{
margin: 0 auto;
width: var(--article-width);
max-width: var(--article-max-width);
}
article section header
{
color: var(--heading-text-color);
}
article h1,
article h2,
article h3,
article h4,
article h5
{
color: var(--heading-text-color);
}
article h1
{
margin-top: var(--content-spacing);
}
article .contents > h1:first-child
{
margin-top: 0;
}
article h2,
article h3,
article h4,
article h5
{
margin-top: 2rem;
}
article h1
{
font-size: 180%;
font-weight: 500;
}
article h2
{
font-size: 150%;
font-weight: 500;
}
article h3
{
font-size: 120%;
font-weight: 500;
}
article h4
{
font-size: 100%;
font-weight: normal;
font-style: italic;
}
article .interjection > .label
{
font-weight: 500;
}
article .interjection > *
{
display: inline;
}
article .interjection
{
margin: 16px 0;
}
article li
{
padding: 5px 0;
}
footer
{
margin: 1.75rem auto;
width: var(--article-width);
max-width: var(--article-max-width);
padding: 0 1rem;
padding-top: 0.5rem;
box-sizing: border-box;
font-size: 90%;
color: var(--inactive-text-color);
text-align: right;
}
.anchor
{
scroll-margin-top: 24px;
}
.highlightable
{
transition: box-shadow 0.5s ease, transform 0.25s ease;
}
.highlightable.highlight
{
transition: transform 0.25s ease;
border-color: transparent;
}
.highlightable.highlight
{
box-shadow: inset 0 0 0 2px var(--link-color) !important;
transform: scale(1.02);
}
table.enum-signatures
{
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
table.enum-signatures tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
table.enum-signatures td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
table.enum-signatures td
{
padding: 0.5em;
}
table.enum-signatures td.type
{
text-align: right;
white-space: nowrap;
}
table.enum-signatures td.enum
{
width: 100%;
}
table.data-structure-signatures
{
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
table.data-structure-signatures tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
table.data-structure-signatures td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
table.data-structure-signatures td
{
padding: 0.5em;
}
table.data-structure-signatures td.type
{
text-align: right;
white-space: nowrap;
}
table.data-structure-signatures td.name
{
width: 100%;
}
section.event
{
border: 1px solid var(--element-border-color);
}
section.event .type
{
font-style: italic;
border: 1px solid var(--element-border-color);
display: inline-block;
border-radius: 10px;
padding: 0.5em;
margin-right: 0.75em;
}
section.event:not(:last-child)
{
margin-bottom: var(--content-spacing);
}
section.event > header
{
display: flex;
align-items: center;
padding: 1em 0.75em;
background-color: var(--document-background-color);
border-bottom: 1px solid var(--element-border-color);
}
section.event > article
{
padding: 0 1em;
}
table.data-field-signatures
{
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
table.data-field-signatures tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
table.data-field-signatures td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
table.data-field-signatures td
{
padding: 0.5em;
}
table.data-field-signatures td.type
{
text-align: right;
white-space: nowrap;
}
table.data-field-signatures td.name
{
width: 100%;
}
.contents.index
{
width: 100%;
background-color: var(--article-background-color);
box-sizing: border-box;
overflow: hidden;
padding: 0 1rem;
}
.contents > .subheader > *
{
display: inline;
}
.contents > .subheader > aside
{
color: var(--inactive-text-color);
}
article.index #brief-description
{
display: inline;
}
article.index td > p
{
margin: 0;
}
article.index table
{
margin-top: 1.5rem;
width: 100%;
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
article.index table tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
article.index table td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
article.index table td
{
padding: 0.5em;
}
article.index table td.name
{
white-space: nowrap;
}
article.index table td.description
{
width: 100%;
}
section.enum
{
border: 1px solid var(--element-border-color);
}
section.enum .type
{
font-style: italic;
border: 1px solid var(--element-border-color);
display: inline-block;
border-radius: 10px;
padding: 0.5em;
margin-right: 0.75em;
}
section.enum:not(:last-child)
{
margin-bottom: var(--content-spacing);
}
section.enum > header
{
padding: 1em;
background-color: var(--document-background-color);
border-bottom: 1px solid var(--element-border-color);
}
section.enum > article
{
padding: 0 1em;
}
section.enum .table-container
{
padding: 0.5em;
border: 1px solid var(--element-border-color);
border-radius: 10px;
margin: var(--section-vertical-margin) 0;
}
section.enum table.values
{
width: 100%;
border-collapse: collapse;
}
section.enum table.values td
{
padding: 0.5em;
}
section.enum table.values td.value
{
border-right: 1px solid var(--element-border-color);
text-align: right;
font-weight: 500;
white-space: nowrap;
}
section.enum table.values td.description
{
width: 100%;
}
section.enum table.values tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
.contents.page
{
width: 100%;
background-color: var(--article-background-color);
box-sizing: border-box;
overflow: hidden;
padding: 0 1rem;
}
.contents.page *:last-child
{
margin-bottom: 0;
}
article.markdown-page pre
{
display: flex;
flex-direction: column;
background-color: var(--code-background-color);
border: 1px solid var(--element-border-color);
border-radius: 7px;
margin: var(--section-vertical-margin) 0;
padding: 16px;
overflow: auto;
}
article.markdown-page pre > code
{
font-family: var(--monospace-font);
line-height: 1.4em;
color: var(--code-text-color);
}
article.markdown-page pre > code .hljs-comment
{
color: var(--code-comment-text-color);
}
article.markdown-page samp
{
font-family: var(--monospace-font);
background-color: var(--secondary-background-color);
padding: 0.2rem;
}
table.function-signatures
{
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
table.function-signatures tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
table.function-signatures td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
table.function-signatures td
{
padding: 0.5em;
}
table.function-signatures td.return-value
{
text-align: right;
white-space: nowrap;
}
table.function-signatures td.function
{
width: 100%;
}
.contents.article
{
width: 100%;
background-color: var(--article-background-color);
box-sizing: border-box;
overflow: hidden;
padding: 0 1rem;
}
article.reference td > p
{
margin: 0;
}
article.reference pre
{
display: flex;
flex-direction: column;
background-color: var(--code-background-color);
border: 1px solid var(--element-border-color);
border-radius: 10px;
margin: var(--section-vertical-margin) 0;
padding: 1.5em;
overflow: auto;
}
article.reference pre > code
{
font-family: var(--monospace-font);
line-height: 1.4em;
color: var(--code-text-color);
}
article.reference pre > code .hljs-comment
{
color: var(--code-comment-text-color);
}
article.reference samp
{
font-family: var(--monospace-font);
background-color: var(--secondary-background-color);
padding: 0.2rem;
}
.article-header
{
display: flex;
align-items: center;
box-sizing: border-box;
margin: 2rem 0;
margin-top: 0;
background-color: var(--secondary-background-color);
padding: 1.75rem;
padding-left: calc((100% - min(var(--article-max-width), var(--article-width))) * 0.5 + 1rem);
overflow: auto;
white-space: nowrap;
}
.article-header .crumb
{
display: flex;
align-items: center;
}
.article-header .separator
{
margin: 0 0.7em;
line-height: inherit;
}
section.data-field
{
border: 1px solid var(--element-border-color);
}
section.data-field:not(:last-child)
{
margin-bottom: var(--content-spacing);
}
section.data-field > header
{
padding: 1em;
background-color: var(--document-background-color);
border-bottom: 1px solid var(--element-border-color);
}
section.data-field > header > *
{
margin-right: 0.2em;
}
section.data-field > header .name
{
font-style: italic;
}
section.data-field > article
{
padding: 0 1em;
}
table.event-signatures
{
width: 100%;
border: 1px solid var(--element-border-color);
border-collapse: collapse;
}
table.event-signatures tr:not(:last-child)
{
border-bottom: 1px solid var(--element-border-color);
}
table.event-signatures td:not(:last-child)
{
border-right: 1px solid var(--element-border-color);
}
table.event-signatures td
{
padding: 0.5em;
}
table.event-signatures td.event
{
width: 100%;
}
.document-header
{
font-weight: 500;
display: flex;
align-items: center;
min-height: var(--header-height);
padding: 0 2em;
z-index: 1;
position: relative;
}
.document-header .menu-hamburger
{
display: none;
color: var(--inactive-text-color);
margin-left: auto;
}
.document-header .menu
{
width: 100%;
}
.document-header .menu > hr
{
display: none;
}
.document-header .link
{
margin-right: 1em;
}
.document-header :not(.menu-action).link
{
margin-right: 1em;
height: var(--header-height);
display: inline-flex;
align-items: center;
}
.document-header .link.title
{
margin-right: 2em;
display: flex;
align-items: center;
flex-shrink: 0;
}
.document-header .link.title > img
{
margin-right: 0.35em;
width: 1em;
height: 1em;
}
.document-header .link:not(.title),
.document-header .theme-selector
{
color: var(--inactive-text-color);
}
.document-header .theme-selector
{
float: right;
cursor: pointer;
white-space: nowrap;
}
.document-header :not(.menu-action).theme-selector
{
height: var(--header-height);
display: inline-flex;
align-items: center;
}
.document-header a
{
color: inherit;
text-decoration: none;
}
.document-header a:hover
{
color: var(--text-color) !important;
cursor: pointer;
text-decoration: none !important;
}
#brief-description > *
{
display: inline;
}
section.function
{
border: 1px solid var(--element-border-color);
}
section.function:not(:last-child)
{
margin-bottom: var(--content-spacing);
}
section.function > header
{
display: flex;
align-items: center;
padding: 1em;
background-color: var(--document-background-color);
border-bottom: 1px solid var(--element-border-color);
}
section.function > header > .type
{
font-style: italic;
border: 1px solid var(--element-border-color);
display: inline-block;
border-radius: 10px;
padding: 0.5em;
margin-right: 0.75em;
}
section.function > article
{
padding: 0 1em;
}
@media only screen and (max-width: 1400px)
{
:root
{
--article-width: 80%;
}
}
@media only screen and (max-width: 1100px)
{
:root
{
--article-width: 100%;
}
.document-header
{
padding: 0 1em;
}
}
@media only screen and (max-width: 870px)
{
:root
{
--article-horizontal-padding: 20px;
}
main
{
position: unset;
}
main > article > .contents
{
border-radius: 0 !important;
box-shadow: none !important;
}
main > article > .article-header
{
margin-top: 0;
}
}
/* Narrow portrait mode (e.g. phones).*/
@media only screen and (max-width: 650px)
{
section > header,
section > article
{
overflow-x: auto;
}
table,
thead,
tbody,
th,
td,
tr
{
display: block !important;
text-align: left !important;
padding: 0 !important;
}
th,
td
{
border: none !important;
word-break: break-word;
}
tr
{
padding: 10px !important;
}
td + td
{
margin-top: 3px !important;
}
.document-header .menu-hamburger
{
display: block;
}
.document-header .menu
{
position: absolute;
display: flex;
flex-direction: column;
top: calc(var(--header-height) - 18px);
right: 1em;
justify-content: right;
width: unset;
background-color: var(--article-background-color);
padding: 7px 0;
border: 1px solid var(--element-border-color);
border-radius: 4px;
}
.document-header .menu:not(.visible)
{
visibility: hidden;
}
.document-header .menu > hr
{
display: unset;
width: 100%;
border: none;
border-bottom: 1px solid var(--element-border-color);
}
.document-header .menu > a
{
width: 100%;
padding: 8px 14px;
box-sizing: border-box;
color: var(--text-color) !important;
}
.document-header .menu > a:hover
{
background-color: var(--secondary-background-color);
}
}
@media only screen and (max-width: 500px)
{
:root
{
--article-horizontal-padding: 10px;
--article-width: 100%;
}
main > article > header
{
margin-top: 0 !important;
}
}